
         <div class="pt-5 footer" style="overflow: hidden;">
            <div class="row">
                <div class="col-md-4 align-self-stretch card bg-c-blue border-less order-card text-uppercase">
                    <div class="card-block">
                       <h3><span class="a-blue-yellow">MELDOC</span> <sup>&#174;</sup></h3>
                        <p class="pt-4">
                            <span class="float-left">
                                <span class="font-weight-normal text-capitalize">Your</span> PERSONAL
                                <h2 class="d-block">ASSISTANT</h2>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 align-self-stretch card bg-c-yellow border-less order-card text-uppercase">
                    <div class="card-block">
                        <p class="pt-4 text-justify">
                            <span class="float-left">
                                <span class="font-weight-normal text-uppercase">BY THE - FOR the</span>
                                <h2 class="d-block">DOCTORS<sup>&#174;</sup></h2>
                                <span class="text-uppercase "><a href="" class="a-black-navi">Register Now</a></span>
                            </span>
                        </p>

                    </div>
                </div>
                <div class="col-md-4 align-self-stretch card  bg-c-navi border-less order-card text-uppercase ">
                    <div class="card-block">
                        <p class="pt-4">
                            <span class="float-left">
                                <span class="font-weight-normal text-capitalize">User Friendly &</span> PERSONAL
                                <h2 class="d-block">Secure App</h2>
                                 <span class="text-uppercase "><a href="" class="a-yellow-blue">We care</a></span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <footer class="site-footer bg-color-white">
                <div class="container">
                    <div class="footer-copyright">
                        <div class="row py-3">
                            <div class="col-lg-6 col-md-6">&#169; Copyrights 2018. All Right Reserved
                               <a href="https://mdbootstrap.com/bootstrap-tutorial/" > </a>
                            </div>
                            <div class="col-lg-6 col-md-6 text-right">
                                 <p class="m-0">Privacy Policy | Terms of Service</p>
                            </div>
                        </div>
                    </div>
                 </div>
            </footer><!-- .site-footer -->
        </div>
